<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somitsolutions.custompermissioncalledapp" >

    <permission
        android:name="com.somitsolutions.custompermissioncalledapp.custompermission"
        android:description="@string/permission_string"
        android:label="@string/permission_label_string"
        android:protectionLevel="dangerous"
        android:permissionGroup="android.permission-group.COST_MONEY">
    </permission>

    <uses-permission android:name="com.somitsolutions.custompermissioncallerapp.custompermissionforreceivingbroadcast"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:permission="com.somitsolutions.custompermissioncalledapp.custompermission">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <receiver android:name="com.somitsolutions.custompermissioncalledapp.CalledAppBroadcastReceiver">
            <intent-filter>
                <action android:name="com.somitsolutions.custompermissioncalledapp.custom_action"></action>
            </intent-filter>
        </receiver>
    </application>
    
    

</manifest>
